<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/images/fav_icon.png" rel="shortcut icon">
    <title>Bankbox - Cyber fraud prevention service</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/custom_css.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Roboto" rel="stylesheet">
    <!--@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Roboto');-->


    <style>
        body {
            max-width: 100%;
            overflow-x: hidden;
        }

        html,
        body {
            height: 100%;
            margin: 0;
        }

        .margin-fix {
          margin-bottom: -10px;
        }


    </style>
</head>

<body>
    <ul id="slide-out" class="sidenav">
        <li><a class="waves-effect" href="#"><i class="material-icons">home</i>Home</a></li>
        <li><a class="waves-effect" href="#"><i class="material-icons">filter_vintage</i>Try Now</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="waves-effect" href="#"><i class="material-icons">book</i>About us</a></li>
        <li><a class="waves-effect" href="#"><i class="material-icons">call</i>Contact us</a></li>
    </ul>
    <nav class="transparent navbar-fixed-top" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo"><img src="{% static 'images/fav_icon.png' %}" style="height: 60px; width:60px;" /> <span class="logo-text">BankBox</span></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li>
                <li><a href="#">Try Now</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="row pad">
      <div class="col-md-12 col-sm-6 text-center" id="transaction_div">
        <h1> I will go full screen on load ! </h1>
      </div>
      <script>
      function fun(){
      if (
        document.fullscreenEnabled ||
        document.webkitFullscreenEnabled ||
        document.mozFullScreenEnabled ||
        document.msFullscreenEnabled
        ) {
          document.getElementById("transaction_div").requestFullscreen();
          console.log('Okay');
        }
      }
      fun();
      </script>
    </div>
    <footer class="footer purple lighten-1 pad">
        <div class="row margin-fix">
            <div class="col l6 s12">
                <h5 class="white-text text-center">Company Bio</h5>
                <p class="grey-text text-lighten-4 text-center">
                    Bankbox is a progressive team of individuals constantly striving In practice, a writer can get too caught up in all
                    the things they have to say and fail to organize it all into bits an ordinary human being would be able to digest. The end result is a huge run-on paragraph that makes it difficult to recall the original point of it, if there was one in the first place. The reader's eyes glaze over and all they see is a wall of text.
                </p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text text-center">Connect</h5>
                <ul class="text-center">
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
</body>
</html>
